.main{
    display: flex;
    justify-content: space-between;
}

.second{
    margin-top: 10px;
}

.third{
    margin-top: 35px;
}

@media (max-width: 500px) {
    .main {
        flex-direction: column;
        
    }
  }