.main {
    display: flex;
    flex-direction: column;
}

.head {
    display: flex;
    color: rgba(56, 176, 0, 1);
    justify-content: center;
    font-family: Rounded Mplus 1c;
    font-size: 44px;
    font-weight: 800;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
}

.wrap {
    display: flex;
    font-family: 'MTTMilano-Medium', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    padding-top: 10px;
    justify-content: space-evenly;
}

li {
    margin-bottom: 25px; 
}