.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 10px 0;
}

.first{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 48%;
    align-items: center;
}

.second{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 48%;
}

@media (max-width: 700px) {
    .main {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .first {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        width: 90%;
    }
    .first svg{
        padding-top:10px ;
    }
    .second {
        flex-wrap: wrap;
        flex-direction: column;
        width: 90%;
    }
    .first input {
        width: 100% !important;
    }
    .second input {
        width: 100% !important;
    }
  }