.main {
    display: flex;
    border: 1px solid rgb(56, 176, 0, 1);
    border-radius: 10px;
    margin: 100px 80px;
    
    padding: 20px 10px;
}
.first{
    width:30%;
    padding: 5px 30px;
}
.second{
    width: 70%;
}
.upper {
    display: flex;
    color: rgba(56, 176, 0, 1);
    /* justify-content: center; */
    font-family: Rounded Mplus 1c;
    font-size: 34px;
    font-weight: 800;
    line-height: 65px;
    letter-spacing: 0em;
    margin-left: 100px;
    /* text-align: left; */
    text-transform: uppercase;
}

.lowera{
    display: flex;
}

.lowerb{
    display: flex;
}

.component{
    display: flex;
}

.content{
    display: flex;
    flex-direction: column;
    padding: 7px 15px;
}

.img{
    padding: 7px 15px;
    margin-top: 25px;
}

.head{
    color: rgb(56, 176, 0, 1);
    padding: 7px 15px;
}

.body{
    width: 300px;
    padding: 7px 15px;
}

@media (max-width: 1000px) {
    .main {
        flex-direction: column;
        border: 0px solid white;
        margin: 0 0;
        margin-top: 25px;
    }
    .first {
        display: none;
    }
    .second {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .upper{
        font-size: 20px;
        margin-left: 0;
        line-height: 20px;
        text-align: center;
        margin-bottom: 20px;
    }
    .lowera{
        flex-direction: column;
    }
    .lowerb{
        flex-direction: column;
    }
    .content {
        max-width: 57%;
       
    }
    .head{
        font-size: 16px;
    }
    .img {
        width: 15%;
        object-fit: contain
        
    }
    .body {
        max-width: 80%;
        
        font-size: 14px;
    }
    .component{
        justify-content: center;
        align-items: center;
    }
  }